<?xml version="1.0" encoding="UTF-8"?>

<phpunit bootstrap="coder_sniffer/CiviCRM/Test/phpunit-bootstrap.php" colors="true">
  <testsuites>
    <testsuite name="Coder Sniffer CiviCRM Test Suite">
      <directory>coder_sniffer/CiviCRM/Test</directory>
    </testsuite>
    <testsuite name="Coder Sniffer CiviCRMPractice Test Suite">
      <directory>coder_sniffer/CiviCRMPractice/Test</directory>
    </testsuite>
  </testsuites>
  <!-- Filter for coverage reports. -->
  <filter>
    <blacklist>
      <directory>./vendor</directory>
    </blacklist>
  </filter>
</phpunit>
